{% extends "base.html" %}
{% set active="Dashboard" %}

{% block title %}
Dashboard
{% endblock %}

{% block header %}
<script src="/static/lib/dashboard.js"></script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div>
      <input class="form-control" placeholder="Search for class" name="class-search" id="class-search" type="text"/>
    </div>
    <div class="col-md-8">
      <div class="card">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

    </div>

  </div>
</div>
{% endblock %}
